.center {
    text-align:center;
    display: block;
}

.normal {
    font-weight: normal;
}

div.ref {
    padding-bottom: 20px;
}

img {
    width: 100%;
    margin: 10px 0;
    border-radius: 4px;
}

img#gba {
    width: 20%;
    margin: 0% 40%;
}

img#mod {
    width: 30%;
    margin: 0% 35%;
}

div#mod, div#gba, div#header {
    width: 100%;
    clear: both;
}

div#mod, div#header {
    padding: 15px 0px 25px 0px;
    background-color: #eeeeee;
}

div#header {
    text-align: center;
}

div#gba {
    padding: 10px 0px;
    background-color: #f6f6f6;
    margin-top: 10px;
}